// Trolley Gray
$trolleyGray-1000: #171717;
$trolleyGray-900: #2c2c2c;
$trolleyGray-800: #414141;
$trolleyGray-700: #565656;
$trolleyGray-600: #6b6b6b;
$trolleyGray-500: #808080;
$trolleyGray-400: #959595;
$trolleyGray-300: #aaa;
$trolleyGray-200: #bfbfbf;
$trolleyGray-100: #d4d4d4;
$trolleyGray-50: #e9e9e9;
$trolleyGray-A500: #ededed;
$trolleyGray-A400: #f1f1f1;
$trolleyGray-A300: #f5f5f5;
$trolleyGray-A200: #f9f9f9;
$trolleyGray-A100: #fdfdfd;

// Slate Gray
$slateGray-1000: #3e464f;
$slateGray-900: #48525c;
$slateGray-800: #525e69;
$slateGray-700: #5c6976;
$slateGray-600: #667583;
$slateGray-500: #708090;
$slateGray-400: #7d8b9a;
$slateGray-300: #8a97a4;
$slateGray-200: #97a2ae;
$slateGray-100: #a4aeb8;
$slateGray-50: #b1b9c2;
$slateGray-A500: #b1b9c2;
$slateGray-A400: #cbd0d6;
$slateGray-A300: #d8dce0;
$slateGray-A200: #e5e7ea;
$slateGray-A100: #f2f3f4;

// Slate Blue
$slateBlue-1000: #2c435c;
$slateBlue-900: #334c69;
$slateBlue-800: #395676;
$slateBlue-700: #3f5f82;
$slateBlue-600: #45688f;
$slateBlue-500: #557599;
$slateBlue-400: #6683a3;
$slateBlue-300: #7791ad;
$slateBlue-200: #889eb7;
$slateBlue-100: #99acc1;
$slateBlue-50: #aabacc;
$slateBlue-A500: #b9c6d5;
$slateBlue-A400: #c8d3de;
$slateBlue-A300: #d8dfe7;
$slateBlue-A200: #e7ecf1;
$slateBlue-A100: #f7f8fa;

// Cosmic Cobalt
$cosmicCobalt-1000: #111f4b;
$cosmicCobalt-900: #142457;
$cosmicCobalt-800: #162963;
$cosmicCobalt-700: #192e70;
$cosmicCobalt-600: #1c337c;
$cosmicCobalt-500: #1e3888;
$cosmicCobalt-400: #324a92;
$cosmicCobalt-300: #465c9d;
$cosmicCobalt-200: #5b6ea8;
$cosmicCobalt-100: #6f80b3;
$cosmicCobalt-50: #8492be;
$cosmicCobalt-A500: #98a4c8;
$cosmicCobalt-A400: #adb6d3;
$cosmicCobalt-A300: #c1c8de;
$cosmicCobalt-A200: #d6dae9;
$cosmicCobalt-A100: #eaecf4;

// Dodger Blue
$dodgerBlue-1000: #125083;
$dodgerBlue-900: #155d99;
$dodgerBlue-800: #196bae;
$dodgerBlue-700: #1c78c4;
$dodgerBlue-600: #1e85da;
$dodgerBlue-500: #2192ef;
$dodgerBlue-400: #359bf0;
$dodgerBlue-300: #9dd5f3;
$dodgerBlue-200: #a8d9f4;
$dodgerBlue-100: #b3def6;
$dodgerBlue-50: #bee3f7;
$dodgerBlue-A500: #9bcdf7;
$dodgerBlue-A400: #b1d8f9;
$dodgerBlue-A300: #c7e3fa;
$dodgerBlue-A200: #ddeefc;
$dodgerBlue-A100: #f3f9fe;

// Medium Sea Green
$mediumSeaGreen-1000: #21623f;
$mediumSeaGreen-900: #26724a;
$mediumSeaGreen-800: #2b8254;
$mediumSeaGreen-700: #31925f;
$mediumSeaGreen-600: #36a269;
$mediumSeaGreen-500: #3bb273;
$mediumSeaGreen-400: #4cb97f;
$mediumSeaGreen-300: #5ec08c;
$mediumSeaGreen-200: #70c799;
$mediumSeaGreen-100: #82cea5;
$mediumSeaGreen-50: #94d5b2;
$mediumSeaGreen-A500: #a7dcc0;
$mediumSeaGreen-A400: #bae4ce;
$mediumSeaGreen-A300: #ceebdc;
$mediumSeaGreen-A200: #e1f3ea;
$mediumSeaGreen-A100: #f5fbf8;

// Sunglow
$sunglow-1000: #897320;
$sunglow-900: #a08625;
$sunglow-800: #b6992a;
$sunglow-700: #cdac2f;
$sunglow-600: #e4bf34;
$sunglow-500: #fad239;
$sunglow-400: #fad64b;
$sunglow-300: #fada5d;
$sunglow-200: #fbde6f;
$sunglow-100: #fbe281;
$sunglow-50: #fce693;
$sunglow-A500: #fceaa5;
$sunglow-A400: #fdeeb7;
$sunglow-A300: #fdf2c9;
$sunglow-A200: #fef6db;
$sunglow-A100: #fefaed;

// Dark Orange
$darkOrange-1000: #8c4f00;
$darkOrange-900: #a35c00;
$darkOrange-800: #ba6900;
$darkOrange-700: #d17600;
$darkOrange-600: #e88300;
$darkOrange-500: #ff9000;
$darkOrange-400: #ff9a17;
$darkOrange-300: #ffa42e;
$darkOrange-200: #ffae45;
$darkOrange-100: #ffb85c;
$darkOrange-50: #ffc273;
$darkOrange-A500: #ffcd8c;
$darkOrange-A400: #ffd8a5;
$darkOrange-A300: #ffe3bf;
$darkOrange-A200: #ffeed8;
$darkOrange-A100: #fff9f2;

// Jelly Bean
$jellyBean-1000: #7b2f2e;
$jellyBean-900: #903736;
$jellyBean-800: #a43e3e;
$jellyBean-700: #b94645;
$jellyBean-600: #cd4e4d;
$jellyBean-500: #e15554;
$jellyBean-400: #e36463;
$jellyBean-300: #e67373;
$jellyBean-200: #e98382;
$jellyBean-100: #eb9292;
$jellyBean-50: #eea2a1;
$jellyBean-A500: #f1b2b2;
$jellyBean-A400: #f4c3c3;
$jellyBean-A300: #f7d4d4;
$jellyBean-A200: #fae5e5;
$jellyBean-A100: #fdf6f6;

// Paradise Pink
$paradisePink-1000: #7f233d;
$paradisePink-900: #942947;
$paradisePink-800: #a92e51;
$paradisePink-700: #be345b;
$paradisePink-600: #d33a65;
$paradisePink-500: #e83f6f;
$paradisePink-400: #ea507c;
$paradisePink-300: #ec6189;
$paradisePink-200: #ee7396;
$paradisePink-100: #f084a3;
$paradisePink-50: #f296b0;
$paradisePink-A500: #f4a7bd;
$paradisePink-A400: #f6b9ca;
$paradisePink-A300: #f8cad7;
$paradisePink-A200: #fadce4;
$paradisePink-A100: #fcedf1;
