/* Basic Config
 * $nav-size (px) sets the size of the menu button
 * $nav-color (#) is set the be the main color when a background is set
 * $nav-color-active (#) is the color of the button when toggled. If theres no background, it is also the main color when untoggled
 * $hasBackground (boolean) sets whether there's a background or not.
 */

$nav-size: 40px;
$nav-color: #fff;
$nav-color-active: #4d4d4d;
$hasBackground: true;

// Advanced Config
$animation-time: 300ms;
$animation-easing: ease-in-out;

$z-index-navigation-button: 5;
$z-index-navigation-inner: $z-index-navigation-button + 1;

@if $hasBackground == false {
  $nav-color: $nav-color-active;
}

.burger {
  display: none;
  background-color: transparent;
  border-color: #333;
  z-index: 4;
  transition: opacity 100ms;

  &:hover {
    opacity: .9;
  }

  cursor: pointer;
  position: relative;
  width: $nav-size;
  height: $nav-size;

  @if $hasBackground == true {
    &:after {
      content: '';
      display: block;
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: $nav-color-active;
      animation: material-menu-background $animation-time $animation-easing forwards;
    }
  }

  span {
    top: 50%;
    left: 9px;
    transform-origin: center center;
    animation-name: material-menu;

    &, &:before, &:after {
      width: ($nav-size / 2);
      background-color: $nav-color;
      height: ceil($nav-size / 20);
      position: absolute;
      z-index: $z-index-navigation-inner;
      animation-duration: $animation-time;
      animation-fill-mode: forwards;
      animation-timing-function: $animation-easing;
      transition: background-color $animation-time $animation-easing;
    }

    &:before, &:after {
      content: '';
      display: block;
    }

    &:before {
      top: 300%;
      transform-origin: right bottom;
      animation-name: material-menu-before;
    }

    &:after {
      bottom: 300%;
      transform-origin: right top;
      animation-name: material-menu-after;
    }
  }

  &.isArrow {
    @if $hasBackground == true {
      &:after {
        animation: material-hasAbackground $animation-time $animation-easing forwards;
      }
    }

    span, span:before, span:after {
      animation-duration: $animation-time;
      animation-fill-mode: forwards;
      animation-timing-function: $animation-easing;
      background-color: $nav-color-active;
    }
    span 		{animation-name: material-hasA}
    span:before {animation-name: material-hasAbefore;}
    span:after 	{animation-name: material-hasAafter;}
  }
}

@if $hasBackground == true {
  @keyframes material-hasAbackground {
    100% 	{ transform: rotate(180deg) scale(0); }
  }

  @keyframes material-menu-background {
    0% 		{ transform: rotate(180deg) scale(0); }
    100% 	{ transform: rotate(360deg) scale(1); }
  }
}

@keyframes material-hasA{
  100% 	{ transform: rotate(180deg); }
}

@keyframes material-hasAbefore {
  100% 	{ top: 0; transform: rotate(-40deg) scaleX(0.7); }
}

@keyframes material-hasAafter {
  100% 	{ bottom: 0; transform: rotate(40deg) scaleX(0.7);}
}

@keyframes material-menu {
  0% 		{ transform: rotate(180deg); }
  100% 	{ transform: rotate(360deg); }
}

@keyframes material-menu-before {
  0% 		{ top: 0; 		transform: rotate(-40deg) scaleX(0.7); }
  100% 	{ top: 300%; 	transform: rotate(0) scaleX(1); }
}

@keyframes material-menu-after {
  0% 		{ bottom: 0; 	transform: rotate(40deg) scaleX(0.7); }
  100% 	{ bottom: 300%; transform: rotate(0) scaleX(1); }
}